@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    text-align: center;
    font-family: 'Ubuntu';
    padding: 2em;
}

ul {
    position: relative;
    left: 0;
    right: 0;
    margin: 1em auto;
    max-width: 50vw;
}